<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue 3</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <input type="text" placeholder="password" v-model="password">
    <dutton v-on:click="check">PUSH</dutton>
    <p v-if="visible">true</p>
    <p v-else>false</p>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
Vue.createApp({
  data() {
    return{

    visible : false,
}
  },
    methods:{
        check() {
      
          
            if(this.password == "123") {
                this.visible = true;
            }
        }

    }

}).mount('#app');
</script>
</body>
</html>